#scrollingViewport {
    overflow-x:hidden;
    overflow-y:hidden;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color:#00f0ff;
}

#wrapper {
    position: relative;
    border-style: solid;
    border-width: 1px 1px 1px 1px;

}
#background {}
#foreground {
    position: absolute;
    top:0px;
    left:0px;
    z-index: 2;
}